@import "../variables/variables";

// font styles
%nav-font-styles {
	font-family: $gotham;
	font-size: 1vw;
	color: white;
	text-transform: uppercase;
	letter-spacing: 2px;
}

%home-menu-font-styles {
	font-family: $monument-extended-black;
	font-size: 6vw;
	text-transform: uppercase;
	letter-spacing: 0.2vw;
	-webkit-text-stroke-width: 4px;
	-webkit-text-stroke-color: white;
	-webkit-text-fill-color: rgba(255, 255, 255, 0);
}
