// import fonts
@font-face {
	font-family: "Chartwell Bars";
	src: url("/src/fonts/ChartwellBars.ttf") format("truetype");
}

@font-face {
	font-family: "Druk Wide Medium";
	src: url("/src/fonts/Druk-Wide-Medium.otf") format("otf");
}

@font-face {
	font-family: "Druk";
	src: url("/src/fonts/Druk.otf") format("otf");
}

@font-face {
	font-family: "Druk Wide Bold";
	src: url("/src/fonts/Druk.otf") format("otf");
}

@font-face {
	font-family: "Gotham Book";
	src: url("/src/fonts/Gotham-Book.otf") format("otf");
}

@font-face {
	font-family: "Monument Extended Black";
	src: url("/src/fonts/MonumentExtended-Black.otf") format("otf");
}

@font-face {
	font-family: "Monument Extended Black TTF";
	src: url("/src/fonts/MonumentExtended-Black.ttf") format("truetype");
}

@font-face {
	font-family: "Monument Extended Light";
	src: url("/src/fonts/MonumentExtended-Light.otf") format("otf");
}

@font-face {
	font-family: "Monument Extended Light TTF";
	src: url("/src/fonts/MonumentExtended-Light.ttf") format("truetype");
}

@font-face {
	font-family: "Monument Extended Regular";
	src: url("/src/fonts/MonumentExtended-Regular.otf") format("otf");
}

@font-face {
	font-family: "Monument Extended Regular TTF";
	src: url("/src/fonts/MonumentExtended-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Snell Roundhand Bold Script";
	src: url("/src/fonts/SnellRoundhand-BoldScript.otf") format("otf");
}
@font-face {
	font-family: "Snell Roundhand Bold Script TTF";
	src: url("/src/fonts/Snell Roundhand Script.ttf") format("truetype");
}
// end import fonts
