@import "../fonts/fonts";

// font styles
$druk: "Druk", sans-serif;
$druk-wide-medium: "Druk Wide Medium", sans-serif;
$druk-wide-bold: "Druk Wide Bold", sans-serif;
$gotham: "Gotham Book", "Montserrat", "Helvetica", Arial, sans-serif;
$monument-extended-black: "Monument Extended Black", "Monument Extended Black TTF", Arial, sans-serif;
$monument-extended-light: "Monument Extended Light", "Monument Extended Light TTF", Arial, sans-serif;
$monument-extended-regular: "Monument Extended Regular", "Monument Extended Regular TTF", Arial, sans-serif;
$chartwell-bars: "Chartwell Bars", Arial, sans-serif;
$snell-roundhand-bold-script: "Snell Roundhand Bold Script", "Snell Roundhand Bold Script TTF";

// end font styles

// colors
$color-background: #010101;
$color-light-gray: #f0ede5;

// end colors
